.Container {
  @apply w-full;
}

.Item {
  @apply relative border-b border-white;
}

.CourseItem {
  @apply relative;
}

.Header {
  @apply relative flex items-start gap-2 px-4 py-2;
}

.Icon {
  @apply absolute right-0 h-4 w-4 transform rounded-full text-white duration-300;
}

.Trigger[data-state='open'] .Icon {
  @apply -rotate-180;
}

.Trigger {
  @apply relative flex w-full items-start justify-start text-left;
}

.Trigger span {
  @apply font-bold text-white;
}

.CourseTrigger {
  @apply relative flex w-full items-start justify-start text-left;
}

.CourseTrigger span {
  @apply text-white;
}

.Content {
  @apply relative overflow-hidden px-4 pt-0;
}

.Content[data-state='open'] {
  animation: openContent 300ms ease-out;
}

.Content[data-state='closed'] {
  animation: closedContent 300ms ease-out;
}

.CourseContent {
  @apply relative overflow-hidden px-0 pt-0;
}

.CourseContent[data-state='open'] {
  animation: openContent 300ms ease-out;
}

.CourseContent[data-state='closed'] {
  animation: closedContent 300ms ease-out;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes openContent {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes closedContent {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

input:checked + div {
  @apply border-white;
}
input:checked + div svg {
  @apply block;
}
