@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;600&family=Poppins:wght@400;500&display=swap');

.c-blue {
  color: #59c0e4;
}

.c-dark-brown {
  color: #494443;
}
.c-brown {
  color: #e9dad5;
}
.c-yellow {
  color: #eabc54;
}
.c-red {
  color: #ee8561;
}