@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bd-handwritten {
    border-width: 3px;
    border-style: solid;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
  }

  .badge {
    @apply ml-2 inline-flex cursor-default items-baseline rounded-sm bg-red p-1 text-[0.6rem] font-bold uppercase;
  }

  .badge.badge-blue {
    @apply bg-[#bee3f8] text-[#2a4365];
  }

  .badge.badge-green {
    @apply bg-[#C6F6D5] text-[#22543D];
  }

  .badge.badge-orange {
    @apply bg-[#FEEBC8] text-[#7B341E];
  }

  .badge.badge-purple {
    @apply bg-[#E9D8FD] text-[#44337A];
  }

  .badge.badge-yellow {
    @apply bg-[#FEFCBF] text-[#744210];
  }
}

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }

  body {
    @apply bg-medium-brown !important;
  }
}
